/* the styles for the elements */

html {
	background: url(../images/maxresdefault.jpg);
}

body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: black;
  width: 500px;
  height: 650px;
	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: auto;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
	border: 3px solid black;
	background-color: #ADD8E6;
  vertical-align: middle;
}

body h1 {
  text-align: center;
}

.regbox p{
  margin-bottom: 2px;
  padding: 0;
  font-weight: 0;
  text-align: center;
}

.regbox input {
  text-align: center;
}

.regbox input[type = "text"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-left: 140px;
  text-align: center;
}

.regbox input[name = "text" name = "email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-left: 140px;
  text-align: center;
}

.regbox input[type = "date"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  margin-left: 160px;
  text-align: center;
}

.regbox input[type = "password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-left: 140px;
  text-align: center;
}


.regbox button[type = "submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background: #FB2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 200px;
}